packages: [
  "atom-beautify"
  "autocomplete-clang"
  "build"
  "busy-signal"
  "city-lights-syntax"
  "file-icons"
  "flex-tool-bar"
  "intentions"
  "language-ini"
  "linter"
  "linter-gcc"
  "linter-ui-default"
  "package-sync"
  "platformio-ide"
  "platformio-ide-debugger"
  "platformio-ide-terminal"
  "remote-edit"
  "remote-sync"
  "sync-settings"
  "tool-bar"
]
